<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841477594869-dtg3pjnb0oij0cp92agb380l4dpfm25i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841477594869-dtg3pjnb0oij0cp92agb380l4dpfm25i</string>
	<key>API_KEY</key>
	<string>AIzaSyClVbt6zerUn5LaWWYcW2IRof230NDBWyA</string>
	<key>GCM_SENDER_ID</key>
	<string>841477594869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chittapon.XcodeBot.staging</string>
	<key>PROJECT_ID</key>
	<string>xcodebot-d2c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>xcodebot-d2c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841477594869:ios:33dd3fdd3279b95ca76fbc</string>
</dict>
</plist>